<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input New Password</title>
    <link rel="stylesheet" href="InputNewPassword.css">
</head>
<body>
    <form>
        <p class="title">Cài đặt lại mật khẩu</p>
        <p class="instruction">Mật khẩu mới</p>
        <input type="password" class="identity">
        <p class="instruction">Xác nhận mật khẩu mới</p>
        <input type="password" class="identity">
        <button>Lưu mật khẩu</button>
    </form>
</body>
</html>