<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Quizzlet</title>
    <link rel="stylesheet" href="SignUp_stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://kit.fontawesome.com/37ea644e79.js" crossorigin="anonymous"></script>
</head>

<body>
<div></div>
<div class="container">
    <form action="">
        <div>
            <button class = "LogIn">Đăng nhập</button>
            <button class = "Register">Đăng ký</button>
        </div>

        <input type="text" placeholder="Tên đăng nhập hoặc email">
        <input type="password" placeholder="Mật khẩu">
        <input type="password" class="retypePassword" placeholder="Xác nhận lại mật khẩu">
        <button class="login">REGISTER</button>

        <div class="reg">
            <i class="fa-brands fa-google"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </form>
</div>
</body>
</html>